@media only screen and (max-width: 480px) {
  .header_bloc {
    flex-direction: column-reverse;
    height: 100%;
    &_right {
      .largecarre {
        width: 300px;
        height: 300px;
        top: 50px;
        left: 50px;
        transform: rotate(90deg);
      }
      img {
        width: 260px;
        height: 290px;
        top: 90px;
        left: 50px;
      }
      h1 {
        display: none;
      }
    }
    &_left {
      justify-content: center;
      margin-top: 100px;
      justify-content: center;

      .smallcarre {
        width: 100px;
        height: 100px;
        top: 55px;
        top: 100px;
        left: 80px;
        margin-top: 200px;
      }
      &_right {
        margin-top: 200px;
        h2 {
          display: block;
        }
      }
    }
  }
}
