/* délaration de mixins */
/*  mixin bloc section two */
@mixin sectiontwo($stwowith, $stwoheigth, $stwomargleigh) {
  display: flex;
  flex-direction: column;
  width: $stwowith;
  height: $stwoheigth;
  background: rgba(238, 238, 220, 0.8);
  margin-left: $stwomargleigh;
  padding-left: 20px;
  padding-top: 40px;

  i {
    color: white;
    font-size: 3rem;
  }
  h1 {
    font-size: 2.3rem;
    color: #79a14e;
    font-weight: bold;
    padding-top: 40px;
  }
  p {
    font-size: 1.3rem;
    padding-top: 30px;
    font-family: "Times New Roman", Times, serif;
    color: #636d50;
  }
}
